

/* GENERAL CONDITIONS */
            
            * {
            box-sizing: border-box;
            }

            .body {
                font-size:15px;
                margin:0;
                color:#863838;
                font-family: "Arial Narrow", arial, sans-serif;
            }

            .body a {
                color: #863838;
                display:inline-block;
                text-decoration:none;
            }

            .body a:hover {
                color: white;
                display:inline-block;
            }



            /* Right now I have no buttons. But maybe I'll add some. */
            .button {
                background:teal;
                border-radius:5;
                border: 2px;
                padding: 5px; 
            }

            .img {
                max-width:100%;
            }


/* CONTAINER ... The "whole page" background grid */ 
            .page-container {
                display: grid;
                grid-auto-flow: row; 
                border: solid 15px black;
                grid-gap: 5px; 
                width:100%; 
                background-color:aquamarine; 
                background-image: url(assets/images/backgrounds/blue2.png);
                background-image: linear-gradient(to bottom, rgba(255, 255, 255 ,0.7) 0%,rgba(255, 255, 255, 0.5) 18000%), url(assets/images/backgrounds/colors5.jpg);
                /* Right now, my two favorites are Sky1 and Colors5 ... both with a lot of transparency ... play with this feature to get exactly right. */ 
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display:cover;

                /* This is my opacity problem. 
                SEE: Note: When using the opacity property to add transparency to the background of an element, all of its child elements become transparent as well. This can make the text inside a fully transparent element hard to read. If you do not want to apply opacity to child elements, use RGBA color values instead (See "More Examples" below).
                    I could use RGBA solutin, but this will work only with background colors, not background images.:                 background: rgba(76, 175, 80, 0.6);
                */

                /*** AAA This is how I can easily play with the page layout */
                /* I think this will be easier than explicitly defining all the columns etc. */ 
                grid-template-columns: 170px repeat(3, 1fr) 50px;
               
                /*
                grid-template-areas:
                    "top-bar top-bar top-bar top-bar top-bar"
                    "side mainarea mainarea mainarea gutter"
                    "side services services services gutter"
                    "side partners partners partners gutter"
                    "footer footer footer footer footer"
                 I am going to eliminate the services bar for now. See if this will vertically center the main image. */

                grid-template-areas:
                    "top-bar top-bar top-bar top-bar top-bar"
                    "side mainarea mainarea mainarea gutter"
                    "side partners partners partners gutter"
                    "footer footer footer footer footer"
            }
        
            .page-container a{
                color: #863838;
                display:inline;
                text-decoration:none;
                padding:0;
            }


/** Now onto the different elements. */

            .curvy {
                height:200px; 
                width:200px;
            /* border-radius: 50%; */
                /*background-color: #7db9e8; 
                border: 2px solid black;
            */
                background-image: url(assets/images/logos/logo1c.png);
                background-size:contain; 
                background-repeat:no-repeat;
                background-position:bottom right; 
                margin: 25px 25px 25px 25px;
                padding: 25px 25px 25px 25px;
                float:  right;
                -webkit-shape-outside: circle(50%);
                shape-outside: circle(50%);
            }

            


            .element-template {
                display:grid;
                grid-auto-flow:row;
            }

            .footer-bar {
                display:grid;
                grid-area:footer;
                columns:2; 
                grid-auto-flow:column;
                background-color:#B6C8D6;
                color:#863838;
                border-top: 2px black solid;
                font-size:12;
                justify-items:left;
                font-family:Arial, Helvetica, sans-serif;
            }

            /* The footer links */
            .footer-bar a {
                    text-decoration: none;
                    text-transform:uppercase;
                    font-size: 12;
                    color: #863838;
                    display:inline-block;
                    
            }

            /* When you mouse over the navigation links, change their color */
            .footer-bar a:hover {
                    color: white;
            }          
            
            .footer-bar-left {
                justify-self:start;
            }

            .footer-bar-right {
                justify-self:end;
            }


            .gutter {
                display:grid;
                grid-auto-flow:row;
            }

            .gutter-top{
                max-width:50px;
            }


            /** NOTE IMPT: The shape-outside and float:left function correctly ... in Safari and Chrome. In Firefox shape-outside does not computer. It's a fact of Firefox, and that's that. The code is ok. */
            .img-person-ashe {
                height:80px; 
                width:85px;
                background-image: url(img-ashe1.jpg);
                background-size:contain; 
                background-repeat:no-repeat;
                background-position:center; 

                float: left;
                margin:10px;
                display:inline-block;
                vertical-align: middle;
                object-fit:contain;
                overflow:hidden;
                width: 85px;
                height: 80px;
                border-radius: 50%; 
                shape-outside: circle(50%); 
                border: solid 2px  #863838;
        }


            .img-person-2 {
                height:80px; 
                width:85px;
                background-image: url(img-ashe1.jpg);
                background-size:contain; 
                background-repeat:no-repeat;
                background-position:center; 

                float: left;
                margin:10px;
                display:inline-block;
                vertical-align: middle;
                object-fit:contain;
                overflow:hidden;
                width: 85px;
                height: 80px;
                border-radius: 50%; 
                shape-outside: circle(50%); 
                border: solid 2px  #863838;
    }

            .img-person-3 {
                height:80px; 
                width:85px;
                background-image: url(img-ashe1.jpg);
                background-size:contain; 
                background-repeat:no-repeat;
                background-position:center; 

                float: left;
                margin:10px;
                display:inline-block;
                vertical-align: middle;
                object-fit:contain;
                overflow:hidden;
                width: 85px;
                height: 80px;
                border-radius: 50%; 
                shape-outside: circle(50%); 
                border: solid 2px  #863838;
}

                .img-person-4 {
                    height:80px; 
                    width:85px;
                    background-image: url(img-ashe1.jpg);
                    background-size:contain; 
                    background-repeat:no-repeat;
                    background-position:center; 

                    float: left;
                    margin:10px;
                    display:inline-block;
                    vertical-align: middle;
                    object-fit:contain;
                    overflow:hidden;
                    width: 85px;
                    height: 80px;
                    border-radius: 50%; 
                    shape-outside: circle(50%); 
                    border: solid 2px  #863838;
                }

                .img-person-5 {
                    height:80px; 
                    width:85px;
                    background-image: url(img-ashe1.jpg);
                    background-size:contain; 
                    background-repeat:no-repeat;
                    background-position:center; 

                    float: left;
                    margin:10px;
                    display:inline-block;
                    vertical-align: middle;
                    object-fit:contain;
                    overflow:hidden;
                    width: 85px;
                    height: 80px;
                    border-radius: 50%; 
                    shape-outside: circle(50%); 
                    border: solid 2px  #863838;
                }

                .img-person-6 {
                    height:80px; 
                    width:85px;
                    background-image: url(img-ashe1.jpg);
                    background-size:contain; 
                    background-repeat:no-repeat;
                    background-position:center; 

                    float: left;
                    margin:10px;
                    display:inline-block;
                    vertical-align: middle;
                    object-fit:contain;
                    overflow:hidden;
                    width: 85px;
                    height: 80px;
                    border-radius: 50%; 
                    shape-outside: circle(50%); 
                    border: solid 2px  #863838;
                }

            .intro-text {
                grid-column: 1 / span 2;
                font-family:"Arial Narrow", Arial, sans-serif;
                font-family: "Times New Roman", 'Times New Roman', Times, serif;
                font-size:14px;
                color: rgb(5, 39, 5);
            }

            .intro-text a {
                text-decoration: none;
                text-transform:uppercase; 
                font-size: 12;
                color: 863838;
                display:inline-block;
                justify-content:start;
                justify-items:start;
            }

            .intro-text h1 {
                color:#863838;
                margin-bottom:10px;
            }
        

            .logo {
                /* grid-area:logo; I have removed this because I am coding it into the HTML. */
                /*** PROBLEM I HAVE NOT RESOLVED: I cannot figure out how to make this logo image a link, since I have coded it into the background-image within the CSS (and not in the CSS). For now, i've resolved the problem by adding a "Home" nav-bar link. But I'd like to figure out how to make my embedded logo image clickable. There are ways. Figure it out.*/
                display:block; 
                /*grid-template-columns: 1; 
                grid-template-rows: 1; */
                /*background-color:blue; */
                background-image: url(assets/images/logos/logo2d.png);
                align-self:center;
                align-content:center;
                /*height:100%; */
                text-indent:-9999px; /* This was to try to make an invisible link. It didn't work.*/
                width:95%; 
                /*max-height:100%; */
               /* max-width:150%; */
                padding: 50px 50px 0 10px;
                margin:5px 20px 0 20; /*top then left */
                background-size:contain; 
                background-repeat:no-repeat;
                background-position:center;  
                overflow:visible;
                box-sizing:border-box;
            }

            .logo img {
                height: auto ;
                width: auto ;
                max-height: 100% ;
                size:stretch;

            }
             

            .main-area {
                grid-area: mainarea; 
                /*grid-column: 2 / -1; */
                /*background-color: orange; */
                /* border: solid 10px blue; */
                display:inline-block; /***AAA THIS FIXED MY LINK Line-jumping-on-the-link problem */
                /* display:grid; TESTING ONLY ... got rid of this because it messes up text pages. NOTE: This DOES fix the vertical alignment of the index.html image.*/
                min-height: 400px; 
                justify-content:center;
                justify-items:center;
                justify-self:center;
                align-self:center;
                align-content:center;
                align-items:center;

                font-size:16px;
                margin:0;
                font-family: Times, 'Times New Roman', serif;
                

            }

            /* I've made a separate style for the index.html page where my main area features only an image. Here I use display:grid to make it possible to vertically center the image without doing unwanted things to the text. NOTE: I can't use it "generally" - ie I can't use display:grid on my text-based pages because ... I can't get the text to align correctly. So for now I've just made two different styles. It's easy enough as a fix, I guess ... There's probably a better way to do it. */
            .main-area-logo-only {
                grid-area:mainarea;
                display:grid;
                justify-content:center;
                justify-items:center;
                justify-self:center;
                align-self:center;
                align-content:center;
                align-items:center;
                min-height: 400px; 
                min-height: 400px; 

            }

            .main-area h1, h2, h3{
                color:#863838;
                margin-bottom:5px; 
                /* This worked to control spacing beneath the header than did .main-area h1::after, h2::after, h3::after {
                    line-height:1.45;
                  } */
            }

            .main-area ul {
                margin-top:8px;
            }

            .main-area img {
                background-size:contain; 
                background-repeat:no-repeat;
                background-position:center; 
                align-self:center;
                align-content:center;
                align-items:center;


            }

            .main-area p {
                display: inline-block;
                justify-content:center;
                justify-items:center;
                justify-self: center;
            }
            
            .main-area a {

                text-decoration: none;
                text-transform:uppercase;
                font-size: 12;
                color: #863838;
                display:inline-block;
                justify-content:start;
                justify-items:start;
                
            }


            .menu-bar{
                margin-inline-end: 1px;
                display:grid; 
                grid-auto-flow:column;
                grid-gap: 10px; 
                justify-items:contain;
                justify-content:end;
                padding: 5px;
                align-items:center;
                align-content:center;
                align-self:center;
                justify-items:center;
                color:#863838;
                font-size:16px;
                font-family:arial;
                text-transform: uppercase;
                 
            }

            /* to control the size etc of the academicon and favicon images. */
            .menu-bar img {
                vertical-align: middle;
                width: 35px;
                height: 35;
                border-radius: 50%;                    }

            
            
            .nav-bar {
                display:inline-block;
                align-self:center;
            }    
            .navlist li {
                display: inline; /* otherwise the UL will be vertically ordered */
                list-style-type: none;
                padding-right: 20px;
                font-size:16px;
                font-family:arial;
                text-transform: uppercase;
                color:#863838;
                font-weight:bold;
            }
                            /* The navigation menu links */

            .navlist a {
                color:#863838;
                text-decoration:none;
            }
            
            .navlist a:hover {
                color:white;
            }
        

            .partners-bar {
                display:grid;
                grid-auto-flow:column; 
                grid-template-columns: repeat(4,1fr);
                /*background-color:yellow;*/
                grid-area:partners;
                /* border:solid 5px red; */
                align-self:space-between;
                color:#863838;

            }

            .partner-wrapper1, .partner-wrapper2, .partner-wrapper3, .partner-wrapper-general {
                display:grid;
                grid-auto-flow:column;
                padding:10px;
                margin:10px;
                background-color:rgb(173, 171, 204);
                background-color:rgb(187, 195, 231);
                color:#863838;
                border-radius:5px;
                font-family:"Arial Narrow", Arial, sans-serif;
                font-variant:small-caps;
                border:2px #863838 solid;
                box-shadow: 7px 7px 4px grey;
            }
        


            .partners-bar img {
                vertical-align: middle;
                width: 55px;
                height: 50px;
                border-radius: 50%; 
                border: solid 2px  #863838;
            }


                               /* PLAY WITH THESE
                    shape-outside: circle();
                    shape-outside: ellipse();
                    shape-outside: border-box;
                    shape-outside: inset(0px round
                    120px) border-box;
                    shape-outside: url(http://
                    example.com/image.jpg);
                    shape-margin: 30px;

                    */   

            .partners-bar-bio {
                font-size:10px; 
            }

            
            .partners-bar a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                display: block;
                color: #863838;
                font-weight:bold;
            }

            .partners-bar a:hover {
                color: white;
            }



            .people-grid {
                display:grid;
                grid-area:mainarea;
                grid-gap:15px;
                margin:10px;
                grid-template-columns: 1fr 1fr;
                grid-auto-flow:row;
                /* border:2px black solid;
               background-color:green; */

                font-family:"Arial Narrow", Arial, sans-serif;
                font-size:14px;

            }

 

            .people-grid p {
                display: inline;
                justify-content:center;
                justify-items:center;
                justify-self: center;
            }
            
            .people-grid a {

                text-decoration: none;
                text-transform:uppercase;
                font-size: 12;
                color: #0b3947;
                display:inline-block;
                justify-content:start;
                justify-items:start;
                
            }
    
            .person-name {
                display:grid;
                column-span:2;
                text-transform: uppercase;
                font-size:22px;
                font-weight:bold;
                justify-self:center;
            }

            .person-wrapper {
                display:grid;
                grid-template-columns:1fr;
                grid-template-rows: 25px 150px;
                grid-auto-flow:row;
                text-align:left;
                background-color:rgb(173, 171, 204);
                background-image:contain;
                border-radius:5px;
                border:solid 2px #863838;
                margin:10px;
              /*  background-color: rgb(124, 175, 175); */
                box-shadow: 7px 7px 4px grey;
                color:#863838;
            }

            .person-wrapper h1, h2, h3 {
                padding-bottom:0;
            }

            .person-wrapper p{
                display: inline;
                justify-content:left;
                justify-items:left;
                justify-self: left;
            }
            .person-wrapper > div {
                padding:10px;

            }

            .person-wrapper > div img {
                display:inline-block;
                vertical-align: middle;
                object-fit:contain;
                overflow:hidden;
                width: 85px;
                height: 80px;
                border-radius: 50%; 
                shape-outside: circle(50%); 
                border: solid 2px  #863838;
                /* float:left; not working. I think I have fixed by just listing it as the first div. */
            }

            .service-wrapper1, .service-wrapper2, .service-wrapper3 {
                display:grid; 
                grid-auto-flow:row; 
                grid-gap:2;
                align-items:center;
                justify-items:stretch;
                justify-content:stretch;
                justify-self:stretch;
                align-content:center;
                background-color:mediumaquamarine;
                background-image: url("assets/images/paper4.jpg");
                padding:5px 5px 10px 15px;
                 /* top right bottom left */
                border-radius:5px;
                box-shadow: 10px; /*NOT WORKING */
                font-family:"Arial Narrow", Arial, sans-serif;
                box-shadow: 5px 5px #B6C8D6;
                border:2px #863838 solid;
            


            }
            
            .service-header {
                text-transform:uppercase; 
                padding:0 0 0 0;
                justify-content:center;
                justify-items:center;
                justify-self:center;
                font-weight:bold;
            }

            .service-header a {
                text-decoration: none;
                font-size: inherit;

                color: lightseagreen;
                display: block;
                font-size:15px;
            }

            .service-header a:hover {
                color: white;
            }

            .service-header a::after {
                line-height:2px;
            }
           
            .service-detail {
                /* text-decoration: underline dotted purple; */ 
                text-transform: none;
                font-variant:small-caps;
                font-size:13px;
            }


            .service1, .service2, .service3 {
                text-transform:uppercase; 
            }
 /* SERVICES BAR. I have eliminated for now. It's all in the sidebar / top navbar.
            .services-bar {
              grid-area:services;
                border: solid 5px red;
                background-color:olive;
                
            }
*/
            .sidebar {
                grid-area:side;
               /* background-color:lightgray;  */
                color:#863838;
                display:grid; 
                grid-auto-flow:row;
                /* z-index:1; */
                grid-gap:10px;
                margin:5px;

                align-items: start; 
                align-self: stretch;
                align-content: start;
                justify-content: stretch;
                justify-items: center; 
            }
            .sidebar a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 16;
                color: #863838;
                display: block;
        }

                /* When you mouse over the navigation links, change their color */
            .sidebar a:hover {
                    color: white;
            }



            .top-bar {
                display:grid; 
                grid-area:top-bar;
                grid-auto-flow:column;
                background-color:#B6C8D6;

                /*Try:  #C9D6E1, B6C8D6 */
            }

            .test-main p {
                    font-family: Helvetica;
                    margin: 0;
                    font-size: 14px;
                    display:inline;
            }            

            .wrapper-meet {

                display:grid;
                grid-auto-flow:column;
                padding:10px;
                margin:10px;
                
                background-color:rgb(187, 195, 231);

                color:#863838;
                border-radius:5px;
                font-family:"Arial Narrow", Arial, sans-serif;
                font-variant:small-caps;
                border:2px #863838 solid;
                box-shadow: 7px 7px 4px grey;
                margin-bottom:10px;
            }

            
